body, head {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    
    text-decoration: none;
}



.shop-option {
    display: flex;
    width: 500px;
    justify-content: space-around;
}


.carousel-inner {
    position: relative;
    background-size: cover;
    height: 450px;
}

.introbtn {
    display: block;
    color: blueviolet;
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
   
}



.introbtn:hover {
    background-color: bisque;
    color: blueviolet;
    cursor: pointer;
}

